.login {
  display: flex;
  word-wrap: break-word;
}
.login-features {
  padding-right: 5rem;
  padding-left: 5rem;
}

h2 {
  color: #dfbc8d;
  font-weight: bolder;
  word-wrap: break-word;
}

body{
  word-wrap: break-word;
}